In [1]:
#Loading packages
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
#Reading file and viewing data
filename = '/Users/alexu/OneDrive/Documents/MSBA/Capstone/Capstone Predictive Analytics/US Salary Survey Data Round 2.csv'
salaryData = pd.read_csv(filename)
salaryData.head()

,Date,Age_group,Industry,Salary,State,Col_State,Years_proexp,Years_fieldexp,Edu_level,Gender,Race
0,4/27/2021,25_34,Other_Industry,55000.0,Massachusetts,129.9,5_7_years,5_7_years,Masters_degree,Woman,White
1,4/27/2021,25_34,Other_Industry,34000.0,Other_State,89.7,2_4_years,2_4_years,College_degree,Woman,White
2,4/27/2021,25_34,Other_Industry,65000.0,Other_State,96.1,8_10_years,5_7_years,College_degree,Woman,White
3,4/27/2021,25_34,Other_Industry,67000.0,Other_State,95.9,8_10_years,5_7_years,College_degree,Woman,White
4,4/27/2021,25_34,Other_Industry,62000.0,Other_State,108.4,8_10_years,2_4_years,Masters_degree,Man,White

In [3]:
#Checking data types
salaryData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19643 entries, 0 to 19642
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            19643 non-null  object
 1   Age_group       19643 non-null  object
 2   Industry        19643 non-null  object
 3   Salary          19643 non-null  float64
 4   State           19643 non-null  object
 5   Col_State       19643 non-null  float64
 6   Years_proexp    19643 non-null  object
 7   Years_fieldexp  19643 non-null  object
 8   Edu_level       19643 non-null  object
 9   Gender          19643 non-null  object
 10  Race            19643 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.6+ MB

In [4]:
#Creating new dummy variables for Edu_level
salaryData_with_dummies = pd.get_dummies(data=salaryData, columns=['Edu_level'])

In [5]:
print(salaryData_with_dummies)

            Date Age_group        Industry   Salary          State  Col_State  \
0      4/27/2021     25_34  Other_Industry  55000.0  Massachusetts      129.9
1      4/27/2021     25_34  Other_Industry  34000.0    Other_State       89.7
2      4/27/2021     25_34  Other_Industry  65000.0    Other_State       96.1
3      4/27/2021     25_34  Other_Industry  67000.0    Other_State       95.9
4      4/27/2021     25_34  Other_Industry  62000.0    Other_State      108.4
...          ...       ...             ...      ...            ...        ...
19638  4/28/2021     18_24  Computing_Tech      0.0     California      142.4
19639  4/28/2021     45_54  Other_Industry      0.0     California      142.4
19640  4/29/2021     45_54  Computing_Tech      0.0     California      142.4
19641  4/29/2021     35_44  Other_Industry      0.0    Other_State      133.7
19642   5/1/2021     25_34  Other_Industry      0.0    Other_State      127.2

      Years_proexp Years_fieldexp Gender                 Race  \
0        5_7_years      5_7_years  Woman                White
1        2_4_years      2_4_years  Woman                White
2       8_10_years      5_7_years  Woman                White
3       8_10_years      5_7_years  Woman                White
4       8_10_years      2_4_years    Man                White
...            ...            ...    ...                  ...
19638  1_year_less    1_year_less    Man  Asian_AsianAmerican
19639    5_7_years      5_7_years    Man                White
19640  21_30_years    21_30_years  Woman                White
19641  21_30_years      5_7_years    Man                White
19642   8_10_years      2_4_years  Woman                White

       Edu_level_College_degree  Edu_level_High_School  \
0                             0                      0
1                             1                      0
2                             1                      0
3                             1                      0
4                             0                      0
...                         ...                    ...
19638                         1                      0
19639                         0                      0
19640                         0                      1
19641                         0                      0
19642                         0                      0

       Edu_level_Masters_degree  Edu_level_PhD  Edu_level_Professional_degree
0                             1              0                              0
1                             0              0                              0
2                             0              0                              0
3                             0              0                              0
4                             1              0                              0
...                         ...            ...                            ...
19638                         0              0                              0
19639                         0              1                              0
19640                         0              0                              0
19641                         1              0                              0
19642                         1              0                              0

[19643 rows x 15 columns]

In [6]:
#Regression expression excluding High_School as the intercept
reg_exp = 'Salary ~ Edu_level_College_degree + Edu_level_Masters_degree + Edu_level_PhD + Edu_level_Professional_degree'

In [7]:
#Building and training the model before printing the results
olsr_model = smf.ols(formula=reg_exp, data=salaryData_with_dummies)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.036
Method:                 Least Squares   F-statistic:                     183.5
Date:                Wed, 23 Nov 2022   Prob (F-statistic):          1.10e-154
Time:                        00:09:55   Log-Likelihood:            -2.3585e+05
No. Observations:               19643   AIC:                         4.717e+05
Df Residuals:                   19638   BIC:                         4.718e+05
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       7.43e+04    969.060     76.674      0.000    7.24e+04    7.62e+04
Edu_level_College_degree       1.023e+04   1049.232      9.752      0.000    8176.004    1.23e+04
Edu_level_Masters_degree       1.397e+04   1086.839     12.853      0.000    1.18e+04    1.61e+04
Edu_level_PhD                      3e+04   1626.377     18.446      0.000    2.68e+04    3.32e+04
Edu_level_Professional_degree   3.82e+04   1684.188     22.680      0.000    3.49e+04    4.15e+04
==============================================================================
Omnibus:                     1875.287   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2456.961
Skew:                           0.857   Prob(JB):                         0.00
Kurtosis:                       3.257   Cond. No.                         9.87
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
#Creating dummy variables for Industry, State,Years_fieldexp and Edu_level
salaryData_with_dummies = pd.get_dummies(data=salaryData, columns=['Industry','State','Years_fieldexp','Edu_level'])

In [9]:
print(salaryData_with_dummies)

            Date Age_group   Salary  Col_State Years_proexp Gender  \
0      4/27/2021     25_34  55000.0      129.9    5_7_years  Woman
1      4/27/2021     25_34  34000.0       89.7    2_4_years  Woman
2      4/27/2021     25_34  65000.0       96.1   8_10_years  Woman
3      4/27/2021     25_34  67000.0       95.9   8_10_years  Woman
4      4/27/2021     25_34  62000.0      108.4   8_10_years    Man
...          ...       ...      ...        ...          ...    ...
19638  4/28/2021     18_24      0.0      142.4  1_year_less    Man
19639  4/28/2021     45_54      0.0      142.4    5_7_years    Man
19640  4/29/2021     45_54      0.0      142.4  21_30_years  Woman
19641  4/29/2021     35_44      0.0      133.7  21_30_years    Man
19642   5/1/2021     25_34      0.0      127.2   8_10_years  Woman

                      Race  \
0                    White
1                    White
2                    White
3                    White
4                    White
...                    ...
19638  Asian_AsianAmerican
19639                White
19640                White
19641                White
19642                White

       Industry_Biotechnology_Pharmaceuticals_MedicalDevices  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
19638                                                  0
19639                                                  0
19640                                                  0
19641                                                  0
19642                                                  0

       Industry_Computing_Tech  Industry_Energy_Oil_Gas  ...  \
0                            0                        0  ...
1                            0                        0  ...
2                            0                        0  ...
3                            0                        0  ...
4                            0                        0  ...
...                        ...                      ...  ...
19638                        1                        0  ...
19639                        0                        0  ...
19640                        1                        0  ...
19641                        0                        0  ...
19642                        0                        0  ...

       Years_fieldexp_2_4_years  Years_fieldexp_31_40_years  \
0                             0                           0
1                             1                           0
2                             0                           0
3                             0                           0
4                             1                           0
...                         ...                         ...
19638                         0                           0
19639                         0                           0
19640                         0                           0
19641                         0                           0
19642                         1                           0

       Years_fieldexp_41_years_more  Years_fieldexp_5_7_years  \
0                                 0                         1
1                                 0                         0
2                                 0                         1
3                                 0                         1
4                                 0                         0
...                             ...                       ...
19638                             0                         0
19639                             0                         1
19640                             0                         0
19641                             0                         1
19642                             0                         0

       Years_fieldexp_8_10_years  Edu_level_College_degree  \
0                              0                         0
1                              0                         1
2                              0                         1
3                              0                         1
4                              0                         0
...                          ...                       ...
19638                          0                         1
19639                          0                         0
19640                          0                         0
19641                          0                         0
19642                          0                         0

       Edu_level_High_School  Edu_level_Masters_degree  Edu_level_PhD  \
0                          0                         1              0
1                          0                         0              0
2                          0                         0              0
3                          0                         0              0
4                          0                         1              0
...                      ...                       ...            ...
19638                      0                         0              0
19639                      0                         0              1
19640                      1                         0              0
19641                      0                         1              0
19642                      0                         1              0

       Edu_level_Professional_degree
0                                  0
1                                  0
2                                  0
3                                  0
4                                  0
...                              ...
19638                              0
19639                              0
19640                              0
19641                              0
19642                              0

[19643 rows x 32 columns]

In [10]:
#Regression expression excluding Other_Industry, Other_State, Years_fieldexp_1_year_less and High_School as the intercept and adding cost of living
reg_exp = 'Salary ~ Industry_Biotechnology_Pharmaceuticals_MedicalDevices + Industry_Computing_Tech + Industry_Energy_Oil_Gas + Industry_Engineering_Manufacturing + Industry_Law + State_California + State_Massachusetts + State_NewYork + State_Virginia + State_Washington + Years_fieldexp_2_4_years + Years_fieldexp_5_7_years + Years_fieldexp_8_10_years + Years_fieldexp_11_20_years + Years_fieldexp_21_30_years + Years_fieldexp_31_40_years + Years_fieldexp_41_years_more + Edu_level_College_degree + Edu_level_Masters_degree + Edu_level_PhD + Edu_level_Professional_degree + Col_State'

In [11]:
#Building and training the model before printing the results
olsr_model = smf.ols(formula=reg_exp, data=salaryData_with_dummies)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.316
Method:                 Least Squares   F-statistic:                     414.1
Date:                Wed, 23 Nov 2022   Prob (F-statistic):               0.00
Time:                        00:13:17   Log-Likelihood:            -2.3247e+05
No. Observations:               19643   AIC:                         4.650e+05
Df Residuals:                   19620   BIC:                         4.652e+05
Df Model:                          22
Covariance Type:            nonrobust
=========================================================================================================================
                                                            coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------
Intercept                                              2.137e+04   2349.662      9.094      0.000    1.68e+04     2.6e+04
Industry_Biotechnology_Pharmaceuticals_MedicalDevices  3.124e+04   2512.154     12.436      0.000    2.63e+04    3.62e+04
Industry_Computing_Tech                                4.235e+04    696.146     60.829      0.000     4.1e+04    4.37e+04
Industry_Energy_Oil_Gas                                2.601e+04   4783.333      5.437      0.000    1.66e+04    3.54e+04
Industry_Engineering_Manufacturing                     2.255e+04    984.044     22.916      0.000    2.06e+04    2.45e+04
Industry_Law                                           3112.7304   1443.796      2.156      0.031     282.768    5942.693
State_California                                       1.669e+04   1140.981     14.626      0.000    1.45e+04    1.89e+04
State_Massachusetts                                    8055.3884   1126.410      7.151      0.000    5847.529    1.03e+04
State_NewYork                                          9319.0891   1228.244      7.587      0.000    6911.627    1.17e+04
State_Virginia                                         7723.6443   1331.585      5.800      0.000    5113.625    1.03e+04
State_Washington                                       1.236e+04   1073.179     11.517      0.000    1.03e+04    1.45e+04
Years_fieldexp_2_4_years                               6559.2362   1196.505      5.482      0.000    4213.985    8904.487
Years_fieldexp_5_7_years                               1.628e+04   1190.236     13.680      0.000    1.39e+04    1.86e+04
Years_fieldexp_8_10_years                              2.627e+04   1222.748     21.485      0.000    2.39e+04    2.87e+04
Years_fieldexp_11_20_years                             3.496e+04   1195.528     29.240      0.000    3.26e+04    3.73e+04
Years_fieldexp_21_30_years                             4.132e+04   1448.885     28.519      0.000    3.85e+04    4.42e+04
Years_fieldexp_31_40_years                             4.062e+04   2333.356     17.407      0.000     3.6e+04    4.52e+04
Years_fieldexp_41_years_more                           3.279e+04   6407.968      5.117      0.000    2.02e+04    4.54e+04
Edu_level_College_degree                               1.274e+04    890.166     14.312      0.000     1.1e+04    1.45e+04
Edu_level_Masters_degree                               1.773e+04    923.722     19.190      0.000    1.59e+04    1.95e+04
Edu_level_PhD                                          3.328e+04   1380.458     24.106      0.000    3.06e+04     3.6e+04
Edu_level_Professional_degree                          4.571e+04   1569.582     29.120      0.000    4.26e+04    4.88e+04
Col_State                                               139.8929     19.365      7.224      0.000     101.937     177.849
==============================================================================
Omnibus:                     1699.647   Durbin-Watson:                   1.947
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2307.595
Skew:                           0.726   Prob(JB):                         0.00
Kurtosis:                       3.844   Cond. No.                     3.15e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.15e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
#Creating dummy variables for Years_fieldexp and Edu_level
salaryData_with_dummies = pd.get_dummies(data=salaryData, columns=['Years_fieldexp','Edu_level'])

In [13]:
print(salaryData_with_dummies)

            Date Age_group        Industry   Salary          State  Col_State  \
0      4/27/2021     25_34  Other_Industry  55000.0  Massachusetts      129.9
1      4/27/2021     25_34  Other_Industry  34000.0    Other_State       89.7
2      4/27/2021     25_34  Other_Industry  65000.0    Other_State       96.1
3      4/27/2021     25_34  Other_Industry  67000.0    Other_State       95.9
4      4/27/2021     25_34  Other_Industry  62000.0    Other_State      108.4
...          ...       ...             ...      ...            ...        ...
19638  4/28/2021     18_24  Computing_Tech      0.0     California      142.4
19639  4/28/2021     45_54  Other_Industry      0.0     California      142.4
19640  4/29/2021     45_54  Computing_Tech      0.0     California      142.4
19641  4/29/2021     35_44  Other_Industry      0.0    Other_State      133.7
19642   5/1/2021     25_34  Other_Industry      0.0    Other_State      127.2

      Years_proexp Gender                 Race  Years_fieldexp_11_20_years  \
0        5_7_years  Woman                White                           0
1        2_4_years  Woman                White                           0
2       8_10_years  Woman                White                           0
3       8_10_years  Woman                White                           0
4       8_10_years    Man                White                           0
...            ...    ...                  ...                         ...
19638  1_year_less    Man  Asian_AsianAmerican                           0
19639    5_7_years    Man                White                           0
19640  21_30_years  Woman                White                           0
19641  21_30_years    Man                White                           0
19642   8_10_years  Woman                White                           0

       ...  Years_fieldexp_2_4_years  Years_fieldexp_31_40_years  \
0      ...                         0                           0
1      ...                         1                           0
2      ...                         0                           0
3      ...                         0                           0
4      ...                         1                           0
...    ...                       ...                         ...
19638  ...                         0                           0
19639  ...                         0                           0
19640  ...                         0                           0
19641  ...                         0                           0
19642  ...                         1                           0

       Years_fieldexp_41_years_more  Years_fieldexp_5_7_years  \
0                                 0                         1
1                                 0                         0
2                                 0                         1
3                                 0                         1
4                                 0                         0
...                             ...                       ...
19638                             0                         0
19639                             0                         1
19640                             0                         0
19641                             0                         1
19642                             0                         0

       Years_fieldexp_8_10_years  Edu_level_College_degree  \
0                              0                         0
1                              0                         1
2                              0                         1
3                              0                         1
4                              0                         0
...                          ...                       ...
19638                          0                         1
19639                          0                         0
19640                          0                         0
19641                          0                         0
19642                          0                         0

       Edu_level_High_School  Edu_level_Masters_degree  Edu_level_PhD  \
0                          0                         1              0
1                          0                         0              0
2                          0                         0              0
3                          0                         0              0
4                          0                         1              0
...                      ...                       ...            ...
19638                      0                         0              0
19639                      0                         0              1
19640                      1                         0              0
19641                      0                         1              0
19642                      0                         1              0

       Edu_level_Professional_degree
0                                  0
1                                  0
2                                  0
3                                  0
4                                  0
...                              ...
19638                              0
19639                              0
19640                              0
19641                              0
19642                              0

[19643 rows x 22 columns]

In [14]:
#Regression expression excluding Years_fieldexp_1_year_less and High_School as the intercept and adding cost of living
reg_exp = 'Salary ~ Years_fieldexp_2_4_years + Years_fieldexp_5_7_years + Years_fieldexp_8_10_years + Years_fieldexp_11_20_years + Years_fieldexp_21_30_years + Years_fieldexp_31_40_years + Years_fieldexp_41_years_more + Edu_level_College_degree + Edu_level_Masters_degree + Edu_level_PhD + Edu_level_Professional_degree + Col_State'

In [15]:
#Building and training the model before printing the results
olsr_model = smf.ols(formula=reg_exp, data=salaryData_with_dummies)
olsr_model_results = olsr_model.fit()
print(olsr_model_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.161
Model:                            OLS   Adj. R-squared:                  0.160
Method:                 Least Squares   F-statistic:                     313.7
Date:                Wed, 23 Nov 2022   Prob (F-statistic):               0.00
Time:                        00:20:49   Log-Likelihood:            -2.3449e+05
No. Observations:               19643   AIC:                         4.690e+05
Df Residuals:                   19630   BIC:                         4.691e+05
Df Model:                          12
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      1.178e+04   1962.030      6.004      0.000    7933.389    1.56e+04
Years_fieldexp_2_4_years       7021.3028   1325.521      5.297      0.000    4423.169    9619.437
Years_fieldexp_5_7_years       1.649e+04   1318.478     12.508      0.000    1.39e+04    1.91e+04
Years_fieldexp_8_10_years       2.58e+04   1354.482     19.045      0.000    2.31e+04    2.85e+04
Years_fieldexp_11_20_years     3.481e+04   1324.189     26.285      0.000    3.22e+04    3.74e+04
Years_fieldexp_21_30_years     4.289e+04   1604.787     26.724      0.000    3.97e+04     4.6e+04
Years_fieldexp_31_40_years     3.998e+04   2585.108     15.466      0.000    3.49e+04     4.5e+04
Years_fieldexp_41_years_more   3.429e+04   7100.402      4.830      0.000    2.04e+04    4.82e+04
Edu_level_College_degree       1.257e+04    984.918     12.766      0.000    1.06e+04    1.45e+04
Edu_level_Masters_degree       1.358e+04   1018.983     13.325      0.000    1.16e+04    1.56e+04
Edu_level_PhD                  3.101e+04   1520.336     20.394      0.000     2.8e+04     3.4e+04
Edu_level_Professional_degree  3.859e+04   1576.753     24.473      0.000    3.55e+04    4.17e+04
Col_State                       348.7981     11.667     29.896      0.000     325.930     371.666
==============================================================================
Omnibus:                     1730.040   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2219.308
Skew:                           0.797   Prob(JB):                         0.00
Kurtosis:                       3.411   Cond. No.                     3.15e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.15e+03. This might indicate that there are
strong multicollinearity or other numerical problems.